@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
}

.glassmorphism2 {
  color: rgba(255, 255, 255, 0.1);
  font-size: 200px;
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}
main {
  display: flex;
}

aside {
  background-color: black;
  height: 100vh;
}

.btn-container {
  position: absolute;
  top: 0;
  right: 0;
}

.text-strock-gray {
  -webkit-text-stroke: 2px gray;
  color: transparent;
}
.text-strock-whitelight {
  -webkit-text-stroke: 2px whitesmoke;
  color: transparent;
}
.text-strock-white {
  -webkit-text-stroke: 2px white;
  color: #912cc9;
}

.bg-galaxy {
  background-image: url("../public/galax.webp");
  background-attachment: fixed;
}
.greenline {
  background-color: #d0ff05;
  color: rgb(86, 85, 85);
  font-weight: bold;
  padding-left: 10px;
  width: auto;
}
